.classe-1 {
    position: relative; /* Necessário para o posicionamento absoluto da imagem */
    display: flex;
    flex-direction: column; /* Coloca o h1 e o p em coluna */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

#imagem-1 {
    position: absolute;
    top: 0;
    right: 0;
}

#imagem-1 img {
    width: 50px; /* Ajuste o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

h1 {
    margin: 0; /* Remove a margem padrão do h1 */
}

#loja {
    margin-top: 5px;
    color: green;
}

#borda{
    border: 1px solid gray;
  margin-bottom: 5px; 
}

.container {
    width: 80%; /* Ajuste a largura conforme necessário */
    margin: 20px auto; /* Centraliza o conteúdo */
    text-align: center; /* Centraliza o título */
  }
  
  .imagens {
    display: flex; /* Alinha os quadros lado a lado */
    justify-content: center; /* Centraliza os quadros horizontalmente */
    margin-top: 20px;
  }
  
  .imagem-container {
    margin: 0 10px; /* Adiciona espaçamento entre os quadros */
  }
  
  .imagem {
    width: 200px; /* Ajuste a largura da imagem */
    height: 150px; /* Ajuste a altura da imagem */
    border: 1px solid #ccc; /* Borda da imagem */
    background-color: #f0f0f0; /* Cor de fundo da imagem (cinza claro) */
  }
  
  .legenda {
    margin-top: 5px;
    font-size: 14px;
  }
